In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('/Users/anthony/Downloads/com.xlsx')
data

              info  id
0      286-69-1076   1
1      256-80-1815   1
2      398-21-8862   1
3      725-50-8395   1
4      882-45-5093   1
...            ...  ..
69995  387-345-754   7
69996  740-483-732   7
69997  627-835-329   7
69998  627-817-538   7
69999  633-371-355   7

[70000 rows x 2 columns]

In [4]:
data.dropna(inplace=True)

In [28]:
data.isnull().sum()

info    0
id      0
dtype: int64

In [18]:
df.to_csv('my_data.csv', index=False)

In [ ]:
w2v = Word2Vec()