In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [6]:
import keras 
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import np_utils
from keras.optimizers import SGD

In [7]:
#!pip install openpyxl

In [8]:
df = pd.read_excel('./com.xlsx')

In [9]:
df.head()

          info  id
0  286-69-1076   1
1  256-80-1815   1
2  398-21-8862   1
3  725-50-8395   1
4  882-45-5093   1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   info    70000 non-null  object
 1   id      70000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [11]:
df = df.sample(frac = 1) #shuffle the data

In [12]:
df.head()

                   info  id
53978  IOE-22-106-13978   6
15470      889640802270   2
9313        085-13-9941   1
19343      638104307905   2
20520         23DY03214   3

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore') 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['id']]).toarray())
final_df = df.join(encoder_df)

print(final_df)

#drop 'team' column
final_df.drop('id', axis=1, inplace=True)

#view final df
print(final_df)

                   info  id    0    1    2    3    4    5    6
53978  IOE-22-106-13978   6  0.0  1.0  0.0  0.0  0.0  0.0  0.0
15470      889640802270   2  0.0  1.0  0.0  0.0  0.0  0.0  0.0
9313        085-13-9941   1  0.0  0.0  1.0  0.0  0.0  0.0  0.0
19343      638104307905   2  0.0  0.0  0.0  0.0  0.0  0.0  1.0
20520         23DY03214   3  0.0  0.0  0.0  0.0  0.0  0.0  1.0
...                 ...  ..  ...  ...  ...  ...  ...  ...  ...
57845  MSC-17-348-17845   6  0.0  0.0  0.0  0.0  0.0  1.0  0.0
38750  3031471478062470   4  0.0  0.0  0.0  0.0  0.0  1.0  0.0
68845       718-759-633   7  0.0  0.0  0.0  0.0  1.0  0.0  0.0
27175         33TE38066   3  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1841        383-27-6267   1  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[70000 rows x 9 columns]
                   info    0    1    2    3    4    5    6
53978  IOE-22-106-13978  0.0  1.0  0.0  0.0  0.0  0.0  0.0
15470      889640802270  0.0  1.0  0.0  0.0  0.0  0.0  0.0
9313        085-13-9941  0.0  0.0  1.0  0.0  0.0  0.0  0.0
19343      638104307905  0.0  0.0  0.0  0.0  0.0  0.0  1.0
20520         23DY03214  0.0  0.0  0.0  0.0  0.0  0.0  1.0
...                 ...  ...  ...  ...  ...  ...  ...  ...
57845  MSC-17-348-17845  0.0  0.0  0.0  0.0  0.0  1.0  0.0
38750  3031471478062470  0.0  0.0  0.0  0.0  0.0  1.0  0.0
68845       718-759-633  0.0  0.0  0.0  0.0  1.0  0.0  0.0
27175         33TE38066  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1841        383-27-6267  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[70000 rows x 8 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [10]:
y = df.drop(['info'], axis=1)
X = df['info']
X

678108         109-149-335
43965          071-84-3883
453836           KE090668T
504557     WAC-18-53-14570
552642     YSC-16-22-62655
                ...
656899         923-308-424
552129     EAC-21-76-62142
617872         617-227-527
144923        274724530548
586684    MSC-18-204-96697
Name: info, Length: 699972, dtype: object

In [11]:
X = pd.get_dummies(X)

:

:

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
model = Sequential()

model.add(Dense(64, activation='relu', input_dim=20))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='relu'))

sgd = SGD(learning_rate=0.01, momentum=0.9, nesterov=True)

In [45]:
model.compile(loss='categorical_crossentropy', optimizer=sgd, metrics=['accuracy'])

In [46]:
model.fit(X_train, y_train, epochs=20, batch_size=128)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [ ]:
pred = model.predict(X_test)
pred